body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    
}

/* global items */

.container {
    margin: auto;
    width: 80%;
    
}

#highlight {
    color: rgb(252, 207 , 53);
}
/* header items */

header{
    color: black;
    padding-top: 21px;
    min-height: 6vh;
}

#branding {
    float: left;
}

nav {
    float: right;
    margin-top: 20px;
}
nav li {
    display: inline;
    padding: 10px;
    
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#currentPage {
    color: rgb(252, 207 , 53);
}

/* center piece */

.centerPiece {
    height: 90vh;
    margin: auto;
    color: white;
    background-image: url("mainBackground.jpg");
    background-size: cover;
}


.centerPiece h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
    
}

.centerPiece p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 490px;
}

.centerPiece button {
    display: block;
    margin: 0 auto;
    border: none;
    font-size: 20px;
    padding: 10px;
    box-shadow: 3px 5px black;
    
}
.centerPiece button a {
    text-decoration: none;
    color: black;
    
}

.centerPiece button:hover {
    margin-top: -6px;
}



/* intro */

#intro {
    color: black;
    height: 10vh;
}


/* about section */

.about {
    padding-top: 100px;
    text-align: center;
}

/* services section */

.contact {
    padding-top: 100px;
    text-align: center;
}


/* footer */

footer {
    color: black;
    text-align: center;
    padding-top: 50px;
}

/* mobile adjustment */
@media(max-width: 768px){
    header #branding, 
    header nav, 
    header nav li,
    #intro {
        float: none;
        text-align: center;
        width: 100%;
        
    }

    .centerPiece h1 {
        padding-top: 10px;
    }

    .centerPiece p{
        padding-top: 85px;
    }

    .intro {
        padding-bottom: 20px;
    }


    header {
        padding-bottom: 20px;
    }

    footer {
        padding-top: 80px;
    }
    
}
